﻿body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.topbar {
    background-color: #005cbf;
    color: white;
    padding: 10px 0;
}

.topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact button {
    padding: 8px 15px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

.contact button.like {
    background-color: #005cbf;
}

.contact button.flow {
    background-color: #007bff;
}

.contact button.ytb {
    background-color: #d9534f;
}

.login button {
    padding: 8px 15px;
    color: white;
    background-color: #5bc0de;
    border: none;
    cursor: pointer;
}

.search {
    color: white;
    cursor: pointer;
}

.search i {
    font-size: 20px;
}

.main-navbar {
    background-color: #ffffff;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.main-navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.main-navbar a:hover {
    color: #005cbf;
}

.main-navbar i {
    font-size: 20px;
}
.main-container {
    width: 100%;
    overflow-x: auto; /* Cho phép cuộn nếu tổng chiều rộng lớn hơn chiều rộng màn hình */
    display: flex;
    flex-wrap: nowrap; /* Ngăn chặn các phần tử con xuống dòng khi container không đủ rộng */
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.baner-container img {
    width: 33%; /* Chiều rộng ảnh chiếm 1/3 chiều rộng của container */
    height: auto;
}

