﻿
@{
    Layout = "";
}

<!DOCTYPE html>

﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/My_Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title> @ViewBag.Title VNEXPRESS</title>
</head>
<body>
    @RenderBody()

   
</body>
</html>

